* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

a.navbar-brand.red{
    color: red;
    font-weight: bold;
    font-size: 36px;
}
a.navbar-brand.red:hover{
    color: red;
    cursor: pointer;
}
#spacer{
    height: 80px;
}

h1.sectionTitle{
    color: red;
    text-align: center;
    margin-top: 100px;

}


.warning::placeholder{
    color: red;
}
#serieSection, #filmsection {

    border-bottom: 10px solid #343a40;
}
.containr{
    width: 85%;
}
.noResult{
    color: rgba(255, 0, 0, 0.5);
}
#films,#series{

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 20px;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0px 0px 20px -5px rgba(255,0,0,1);

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.6s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;

}

.flip-card-front h2{
  color: rgba(255,0,0,0.7);
  font-size: 1.5em;
  text-transform: uppercase;
  position: absolute;
  bottom: 50%;
  right:15%;
  transform: perspective(500px) translateZ(50px);
  display: none;
}
.flip-card-front h2.visible{
    display: block;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);

}
/* .card{
    margin: 20px 5px;
    position: relative;
    width: 300px;
   height: 400px;
   transform-style: preserve-3d;
}
.card .face{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   display: flex;
   justify-content: center;
   align-items: center;
   backface-visibility: hidden;
   transition: 1s ease-in-out;
   transform: perspective(500px) rotateY(0deg);
}
.card:hover .face.front{
      transform: perspective(500px) rotateY(180deg);
 }
.card:hover .face.back{
      transform: perspective(500px) rotateY(360deg);
 }

 .card .face h2{
     color: white;
   font-size: 4em;
   text-transform: uppercase;
   transform: perspective(500px) translateZ(50px);
} */

/* .card-body{
    background-color: rgba(0, 0, 0, 0.0);
    color: black;

}
.overlapp{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.055059523809523836) 0%, rgba(0,0,0,1) 65%);
}

/* img.card-img-top{
    height: 350px
}

div.votesContainer{
    position: relative;
}
p.votes{

    text-align: center;

}
p.card-text{
    height: 150px;
    overflow: scroll;
} */ */
