* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.navbar-brand.red{
    color: red;
    font-weight: bold;
    font-size: 36px;
}
a.navbar-brand.red:hover{
    color: red;
    cursor: pointer;
}


.warning::placeholder{
    color: red;
}
#films{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin: 20px 0;
}

img.card-img-top{
    height: 450px
}

div.votesContainer{
    position: relative;
}
p.votes{

    text-align: center;

}
